<div>
  <div *ngFor="let lines of keyboard">
    <app-keyboard-line [selectKey]="selectKey"
                       [lightOn]="lightOn"
                       [line]="lines.line"
    ></app-keyboard-line>
  </div>
</div>
