<div ngClass="keyboard">
  <span
    [ngClass]="{'button': true, 'select-button': lightKey(char)}"
    *ngFor="let char of line"
    (click)="addAlphabet(char)">
    <b>
      {{char}}
    </b>
  </span>
</div>

