span.button {
  display: inline-block;
  padding: 15px;
  font-size: 15px;
  width: 15px;
  height: 15px;
  border: 1px solid #000000;
  border-radius: 50%;
  margin-right: 15px;
  margin-top: 15px;
}

span.select-button {
  color: yellow;
}

div.keyboard {
  text-align: center;
  vertical-align: middle;
}
